body {
    font-family: Arial, Helvetica, sans-serif;
}

table, th, td {
  border: 1px solid;
}

p1 {
    font-style: italic
}

table {
    border-collapse:collapse;
    width: 100%;
}

th, td {
    padding: 5px;
}

th {
    text-align: center;
}

td {
    text-align: left;
}
